.core {
    width: 100%;
    //display: inline-block;
}

.left {
    float: left;
    width: 16%;
    margin-left: 3%;
    margin-right: 3%;
}

.right {
    float: left;
    width: 75%;
    //margin-right: 3%;
}