<mat-grid-list cols="2" rowHeight="8:1" [gutterSize]="'20px'">
    <mat-grid-tile  [rowspan]="4">
        <mat-card>
            <mat-card-title>
                <span>{{pagesPertinence3}}  pages non pertinentes</span>
            </mat-card-title>
            <mat-card-content>

                <ngx-charts-pie-chart
                    [view]="[550,250]"
                    [scheme]="{domain: ['#5AA454', '#C7B42C', '#A10A28']}"
                    [results]="data1"
                    [gradient]="true"
                    [legend]="true"
                    [legendTitle]="'Pertinence'"
                    [legendPosition]="'right'"
                    [labels]="true"
                    [doughnut]="false"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                >
                </ngx-charts-pie-chart>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [rowspan]="5">
        <mat-card>
            <mat-card-title>
                <span>Pertinence page par page</span>
            </mat-card-title>
            <div class="example-table-container">

            <table mat-table [dataSource]="pages" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="Label">
                  <th mat-header-cell *matHeaderCellDef> Page </th>
                  <td mat-cell *matCellDef="let page"> {{page.label}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="Pertinence">
                  <th mat-header-cell *matHeaderCellDef> Pertinence </th>
                  <td mat-cell *matCellDef="let page"> {{page.pertinence}} </td>
                </ng-container>

                <ng-container matColumnDef="Icon">
                    <th mat-header-cell *matHeaderCellDef> Etat </th>
                    <td mat-cell *matCellDef="let page">
                        <mat-icon [ngClass]="page.pertinence===3?'warning':page.pertinence===2?'carefull':'fine'"
                        >
                            {{page.pertinence===3?"warning":page.pertinence===2?"notification_important":"check"}}
                        </mat-icon>
                    </td>
                  </ng-container>
                <tr mat-header-row *matHeaderRowDef="['Label', 'Pertinence', 'Icon']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['Label', 'Pertinence', 'Icon']"></tr>
            </table>
        </div>

        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  [rowspan]="4">
        <mat-card>
            <mat-card-title>
                <span>Récapitulatif des visites</span>
            </mat-card-title>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem"><mat-icon>account_circle</mat-icon>650 visites ajourd'hui</mat-list-item>
                    <mat-list-item role="listitem"><mat-icon>hourglass_full</mat-icon>1mn32s durée moyenne d'une visite</mat-list-item>
                    <mat-list-item role="listitem"><mat-icon>stars</mat-icon>7,2 actions par visites</mat-list-item>
                    <mat-list-item role="listitem"><mat-icon>list_alt</mat-icon>52 pages vues</mat-list-item>
                    <mat-list-item role="listitem"><mat-icon>local_police</mat-icon>21 actions max lors d'une visite</mat-list-item>
                  </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="4">
        <mat-card>
            <mat-card-title>
                <span>14500 visiteurs cette semaine</span>
            </mat-card-title>
            <mat-card-content>
                <ngx-charts-line-chart
                    [view]="['550',250]"
                    [scheme]="colorScheme"
                    [legend]="true"
                    [legendTitle]="''"
                    [legendPosition]="'below'"
                    [showXAxisLabel]="false"
                    [showYAxisLabel]="false"
                    [xAxis]="true"
                    [yAxis]="true"
                    [xAxisLabel]="false"
                    [yAxisLabel]="false"
                    [timeline]="true"
                    [results]="data2"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                >
                </ngx-charts-line-chart>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="5">
        <mat-card>
            <mat-card-title>
                <span>Pertinence page par page</span>
            </mat-card-title>
            <div class="example-table-container">

            <table mat-table [dataSource]="pages" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="Label">
                  <th mat-header-cell *matHeaderCellDef> Page </th>
                  <td mat-cell *matCellDef="let page"> {{page.label}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="Pertinence">
                  <th mat-header-cell *matHeaderCellDef> Pertinence </th>
                  <td mat-cell *matCellDef="let page"> {{page.pertinence}} </td>
                </ng-container>

                <ng-container matColumnDef="Icon">
                    <th mat-header-cell *matHeaderCellDef> Etat </th>
                    <td mat-cell *matCellDef="let page">
                        <mat-icon [ngClass]="page.pertinence===3?'warning':page.pertinence===2?'carefull':'fine'"
                        >
                            {{page.pertinence===3?"warning":page.pertinence===2?"notification_important":"check"}}
                        </mat-icon>
                    </td>
                  </ng-container>
                <tr mat-header-row *matHeaderRowDef="['Label', 'Pertinence', 'Icon']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['Label', 'Pertinence', 'Icon']"></tr>
            </table>
        </div>

        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="4">
        <mat-card>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>